.flex_container{
    display: flex;
    flex-wrap: wrap;
}

.description_price{
    justify-content: space-around;
    margin: 1.5rem;
}

.description{
    align-items: flex-start;
    gap: 2rem;
}

.description>img{
    width: 10rem;
}
.w_40{
    width: 40vw;
}

.text_justify{
    text-align: justify;
}

.mt_1_25{
    margin-top: 1.25rem;
}

.historical{
    position: relative;
    height: 15rem;
    width:50vw;
    margin: auto;
}

body{
    margin: 0px;
}

h1,h2,h3,h4,h5,h6,p{
    margin: 0px;
}

nav{
    height: 3rem;
    background-color: #CAF0F8;
    padding: 0.25rem 1.5rem;
    align-items: center;
    justify-content: space-between;
}

.flex_container{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

footer{
    text-align: center;
    padding: 1rem;
    font-family: 'Nunito',sans-serif;
    background-color: #ADE8F4;
}

footer > h3{
    padding-top: 0.5rem;
}

.logo{
    height: 2.5rem;
    width: 2.5rem;
}

nav > h1{
    display: inline;
}

nav > div{
    align-items: center;
}

@media screen and (max-width: 400px){
    nav h1 {
        display: none;
    }    
}